html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}

#mainBody {
    position: absolute;
    top: 0;
    margin: 20px;
    margin-left: 12rem;
    margin-top: 2rem;
    margin-right: 4rem;
}

#nav {
    position: fixed;
    /* margin: 0; */
    top: 0;
    width: 160px;
    height: 100%;
    background-color: rgb(234, 234, 234);
    overflow: hidden;
}

.navItem {
    margin: 10px;
    margin-bottom: 20px;
    display: block;
    font-size: large;
    width: 190px;
    text-decoration: none;
    color: black;
}

.navBar {
    margin-left: 0px;
    margin-bottom: 0px;
    width: 130px;
    color: rgb(207, 207, 207);
}

h4 {
    margin: 0;
}
h1 {
    margin: 0;
}

h2  {
    margin-top: 80px;
    background-color: #fff;
}

h2:target {
    background-color: #ffa;
}
ul {
    list-style-type: none;
}
ul li:last-child{

    margin-bottom: 60px;
}
.arguments {
    
    list-style-type: disc;
}
